<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create your Team</h1>
    <form action="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Team Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="Last Name"
                placeholder="last name" required name="teamname">
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>

    <h1>Join a Team</h1>
    <form action="POST">
        <div class="mb-3">
            <!-- gender here -->
            <label for="exampleInputEmail1" class="form-label">Select the team name</label>
            <select class="form-select" aria-label="mode of hakerathon" id="mode" name="teamname">
                {% for i in team %}
                <option value={{i.teamname}}>{{i.teamname}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>
</body>
</html>